openapi: 3.0.3
info:
  title: API.Rasp.Yandex.Net
  description: API Яндекс.Расписаний
  version: 3.0.0
servers:
- url: https://api.rasp.yandex.net
tags:
- name: Список ближайших станций
  description: Список ближайших станций
- name: Расписание рейсов между станциями
  description: Расписание рейсов между станциями
- name: Расписание рейсов по станции
  description: Расписание рейсов по станции
- name: Список станций следования
  description: Список станций следования
paths:
# MARK: Nearest Stations
  /v3.0/nearest_stations/:
    get:
      tags:
      - getNearestStations
      summary: Список ближайших станций
      operationId: getNearestStations
      parameters:
      - name: apikey
        in: query
        description: API key
        required: true
        schema:
          type: string
      - name: lat
        in: query
        description: широта
        required: true
        schema:
          type: number
      - name: lng
        in: query
        description: долгота
        required: true
        schema:
          type: number
      - name: distance
        in: query
        description: радиус охвата
        required: true
        schema:
          type: integer
      - name: format
        in: query
        description: json или xml
        required: false
        schema:
          type: string
      - name: lang
        in: query
        description: lang
        required: false
        schema:
          type: string
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stations'
# MARK: Point to Point
  /v3.0/search/:
    get:
      tags:
      - getPointToPoint
      summary: Расписание рейсов между станциями
      operationId: getPointToPoint
      parameters:
        - name: apikey
          in: query
          description: API key
          required: true
          schema:
            type: string
        - name: from
          in: query
          description: Код или название станции отправления
          required: true
          schema:
            type: string
        - name: to
          in: query
          description: Код или название станции прибытия
          required: true
          schema:
            type: string
        - name: page
          in: query
          description: Страница
          required: true
          schema:
            type: string
        - name: date
          in: query
          description: Дата в формате YYYY-MM-DD
          required: true
          schema:
            type: string
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PointToPoint'
# MARK: ScheduleOnStation
  /v3.0/schedule/:
    get:
      tags:
      - getScheduleOnStation
      summary: Расписание рейсов по станции
      operationId: getScheduleOnStation
      parameters:
        - name: apikey
          in: query
          description: Your Yandex API key
          required: true
          schema:
            type: string
        - name: station
          in: query
          description: Station code
          required: true
          schema:
            type: string
        - name: date
          in: query
          description: Date in YYYY-MM-DD format
          required: true
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleOnStation'
# MARK: ThreadInformation
  /v3.0/thread/:
    get:
      tags:
        - getThreadInformation
      summary: Список ближайших станций
      operationId: getThreadInformation
      parameters:
        - name: apikey
          in: query
          description: API key
          required: true
          schema:
            type: string
        - name: format
          in: query
          description: Response format
          required: true
          schema:
            type: string
        - name: uid
          in: query
          description: Unique identifier for the thread
          required: true
          schema:
            type: string
        - name: lang
          in: query
          description: Language of the response
          required: true
          schema:
            type: string
        - name: show_systems
          in: query
          description: Show systems
          required: true
          schema:
            type: string
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreadInformation'
# MARK: - Components
components:
  schemas:
    # MARK: Stations
    Stations:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
        stations:
          type: array
          items:
            $ref: '#/components/schemas/Station'
    Pagination:
      type: object
      properties:
        total:
          type: integer
        limit:
          type: integer
        offset:
          type: integer
    Station:
      type: object
      properties:
        type:
          type: string
        title:
          type: string
        short_title:
          type: string
        popular_title:
          type: string
        code:
          type: string
        lat:
          type: number
        lng:
          type: number
        station_type:
          type: string
        station_type_name:
          type: string
        transport_type:
          type: string
        distance:
          type: number
        majority:
          type: integer
        type_choices:
          $ref: '#/components/schemas/Schedule'
    Schedule:
      type: object
      properties:
        desktop_url:
          type: string
        touch_url:
          type: string
    # MARK: Point to Point
    PointToPoint:
      type: object
      properties:
        pagination:
          type: object
          properties:
            total:
              type: integer
            limit:
              type: integer
            offset:
              type: integer
        schedules:
          type: array
          items:
            type: object
            properties:
              arrival:
                type: string
                format: date-time
              departure:
                type: string
                format: date-time
              thread:
                type: object
                properties:
                  uid:
                    type: string
                  title:
                    type: string
                  number:
                    type: string
    # MARK: ScheduleOnStation
    ScheduleOnStation:
      type: object
      properties:
        date:
          type: string
        pagination:
          $ref: '#/components/schemas/PaginationScheduleOnStation'
        station:
          $ref: '#/components/schemas/StationScheduleOnStation'
        schedule:
          type: array
          items:
            $ref: '#/components/schemas/ScheduleScheduleOnStation'
        interval_schedule:
          type: array
          items:
            $ref: '#/components/schemas/IntervalSchedule'
        schedule_direction:
          $ref: '#/components/schemas/Direction'
        directions:
          type: array
          items:
            $ref: '#/components/schemas/Direction'
    PaginationScheduleOnStation:
      type: object
      properties:
        total:
          type: integer
        limit:
          type: integer
        offset:
          type: integer
    StationScheduleOnStation:
      type: object
      properties:
        code:
          type: string
        title:
          type: string
        stationType:
          type: string
        popularTitle:
          type: string
        shortTitle:
          type: string
        transportType:
          type: string
        type:
          type: string
    ScheduleScheduleOnStation:
      type: object
      properties:
        exceptDays:
          type: string
        arrival:
          type: string
          format: date-time
        thread:
          $ref: '#/components/schemas/Thread'
        isFuzzy:
          type: boolean
        days:
          type: string
        stops:
          type: string
        departure:
          type: string
          format: date-time
        terminal:
          type: string
        platform:
          type: string
    IntervalSchedule:
      type: object
      properties:
        exceptDays:
          type: string
        thread:
          $ref: '#/components/schemas/Thread'
        isFuzzy:
          type: boolean
        days:
          type: string
        stops:
          type: string
        terminal:
          type: string
        platform:
          type: string
    Thread:
      type: object
      properties:
        uid:
          type: string
        title:
          type: string
        interval:
          $ref: '#/components/schemas/Interval'
        number:
          type: string
        shortTitle:
          type: string
        carrier:
          $ref: '#/components/schemas/Carrier'
        transportType:
          type: string
        vehicle:
          type: string
        transportSubtype:
          $ref: '#/components/schemas/TransportSubtype'
        expressType:
          type: string
    Carrier:
      type: object
      properties:
        code:
          type: integer
        codes:
          $ref: '#/components/schemas/Codes'
        title:
          type: string
    Codes:
      type: object
      properties:
        icao:
          type: string
        sirena:
          type: string
        iata:
          type: string
    Interval:
      type: object
      properties:
        density:
          type: string
        endTime:
          type: string
          format: date-time
        beginTime:
          type: string
          format: date-time
    TransportSubtype:
      type: object
      properties:
        color:
          type: string
        code:
          type: string
        title:
          type: string
    Direction:
      type: object
      properties:
        code:
          type: string
        title:
          type: string
    # MARK: ThreadInformation
    ThreadInformation:
      type: object
      properties:
        number:
          type: string
        title:
          type: string
        short_title:
          type: string
        express_type:
          type: null
        transport_type:
          type: string
        carrier:
          type: object
          properties:
            code:
              type: integer
            title:
              type: string
            codes:
              type: object
              properties:
                sirena:
                  type: null
                iata:
                  type: null
                icao:
                  type: null
            offices:
              type: array
              items: null
        uid:
          type: string
        vehicle:
          type: null
        transport_subtype:
          type: object
          properties:
            title:
              type: null
            code:
              type: null
            color:
              type: null
        days:
          type: string
        except_days:
          type: string
        stops:
          type: array
          items:
            type: object
            properties:
              station:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  short_title:
                    type: null
                  popular_title:
                    type: null
                  code:
                    type: string
                  codes:
                    type: object
                    properties:
                      yandex:
                        type: string
                      esr:
                        type: string
                      express:
                        type: string
                  station_type:
                    type: string
                  station_type_name:
                    type: string
                  transport_type:
                    type: string
              departure:
                type: string
              arrival:
                type: null
              duration:
                type: number
              stop_time:
                type: null
              platform:
                type: string
              terminal:
                type: null
        from:
          type: null
        to:
          type: null
        start_date:
          type: string
        arrival_date:
          type: null
        departure_date:
          type: null
        start_time:
          type: string
