openapi: 3.0.3
info:
  title: API.Rasp.Yandex.Net
  description: API Яндекс.Расписаний
  version: 3.0.0
servers:
- url: https://api.rasp.yandex.net
tags:
- name: Список ближайших станций
  description: Список ближайших станций
- name: Расписание рейсов между станциями
  description: Расписание рейсов между станциями
# MARK: Nearest Stations
paths:
  /v3.0/nearest_stations/:
    get:
      tags:
      - getNearestStations
      summary: Список ближайших станций
      operationId: getNearestStations
      parameters:
      - name: apikey
        in: query
        description: API key
        required: true
        schema:
          type: string
      - name: lat
        in: query
        description: широта
        required: true
        schema:
          type: number
      - name: lng
        in: query
        description: долгота
        required: true
        schema:
          type: number
      - name: distance
        in: query
        description: радиус охвата
        required: true
        schema:
          type: integer
      - name: format
        in: query
        description: json или xml
        required: false
        schema:
          type: string
      - name: lang
        in: query
        description: lang
        required: false
        schema:
          type: string
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stations'
# MARK: Point to Point
  /v3.0/search/:
    get:
      tags:
      - getPointToPoint
      summary: Расписание рейсов между станциями
      operationId: getPointToPoint
      parameters:
        - name: apikey
          in: query
          description: API key
          required: true
          schema:
            type: string
        - name: from
          in: query
          description: Код или название станции отправления
          required: true
          schema:
            type: string
        - name: to
          in: query
          description: Код или название станции прибытия
          required: true
          schema:
            type: string
        - name: page
          in: query
          description: Страница
          required: true
          schema:
            type: string
        - name: date
          in: query
          description: Дата в формате YYYY-MM-DD
          required: true
          schema:
            type: string
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PointToPoint'
# MARK: - Components
components:
  schemas:
    # MARK: Stations
    Stations:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
        stations:
          type: array
          items:
            $ref: '#/components/schemas/Station'
    Pagination:
      type: object
      properties:
        total:
          type: integer
        limit:
          type: integer
        offset:
          type: integer
    Station:
      type: object
      properties:
        type:
          type: string
        title:
          type: string
        short_title:
          type: string
        popular_title:
          type: string
        code:
          type: string
        lat:
          type: number
        lng:
          type: number
        station_type:
          type: string
        station_type_name:
          type: string
        transport_type:
          type: string
        distance:
          type: number
        majority:
          type: integer
        type_choices:
          $ref: '#/components/schemas/Schedule'
    Schedule:
      type: object
      properties:
        desktop_url:
          type: string
        touch_url:
          type: string
    # MARK: Point to Point
    PointToPoint:
      type: object
      properties:
        pagination:
          type: object
          properties:
            total:
              type: integer
            limit:
              type: integer
            offset:
              type: integer
        schedules:
          type: array
          items:
            type: object
            properties:
              arrival:
                type: string
                format: date-time
              departure:
                type: string
                format: date-time
              thread:
                type: object
                properties:
                  uid:
                    type: string
                  title:
                    type: string
                  number:
                    type: string
